<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232716676384-5iun8ict73an15rbh40patma4rpgmlfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232716676384-5iun8ict73an15rbh40patma4rpgmlfh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>232716676384-iraj4sd56d5pkl42fok0e041uu08n651.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFXvYaMdfv-xPxCQpXnD30o66pGmxfKFo</string>
	<key>GCM_SENDER_ID</key>
	<string>232716676384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.eztechfin.gazaGo.dev</string>
	<key>PROJECT_ID</key>
	<string>app-step-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>app-step-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232716676384:ios:c851d637fa6d71246f7b45</string>
</dict>
</plist>