<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321889905131-t6ogauus8q46qccni08r1jn3ki2ocjbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321889905131-t6ogauus8q46qccni08r1jn3ki2ocjbv</string>
	<key>API_KEY</key>
	<string>AIzaSyA0fw8oOZhK1DIRpQMCFaWvBA4D8L-bXIc</string>
	<key>GCM_SENDER_ID</key>
	<string>321889905131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.eztechfin.stepGo</string>
	<key>PROJECT_ID</key>
	<string>app-step-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>app-step-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321889905131:ios:f0fd202aacca13710a11ae</string>
</dict>
</plist>